@font-face {
    font-family: 'Angeme';
    src: url("../fonts/Angeme-Regular.woff2") format("woff2"),
    url("../fonts/Angeme-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /*
        Palette Sections
    */
    --palette-primary: rgba(254, 50, 85, 1);
    --palette-primary-opacity: rgba(254, 50, 85, 0.4);
    --palette-text-lighting: rgba(254, 50, 85, 1);
    --palette-secondary: rgba(46, 62, 86, 1);
    --palette-background: rgba(30, 32, 66, 1);
    --palette-default: rgba(255, 255, 255, 1);
    --palette-text-default: rgba(255, 255, 255, 1);
    --palette-gradient-section: linear-gradient(
        90deg,
        rgba(254, 50, 85, 1) 0%,
        rgba(30, 32, 66, 1) 71%);
    --palette-gradient-button: linear-gradient(
        180deg,
        rgba(254, 50, 85, 1) 0%,
        rgba(225, 59, 88, 1) 21.45%,
        rgba(186, 50, 74, 1) 53.49%,
        rgba(202, 35, 64, 1) 92.58%);
    --palette-gradient-button-hover: linear-gradient(
        180deg,
        rgba(202, 35, 64, 1) 0%,
        rgba(202, 35, 64, 1) 21.45%,
        rgba(202, 35, 64, 1) 53.49%,
        rgba(202, 35, 64, 1) 92.58%);

    /*
        Typography Sections
    */
    /* Default Typography */
    --typography-default-family: Rubik;
    --typography-default-weight: 500;
    --typography-default-size: 32px;
    --typography-default-lineheight: 37px;

    /* H1 */
    --typography-h1-family: Angeme;
    --typography-h1-weight: 400;
    --typography-h1-size: 190px;
    --typography-h1-lineheight: 171px;

    /* H2 */
    --typography-h2-family: Rubik;
    --typography-h2-weight: 600;
    --typography-h2-size: 36px;
    --typography-h2-lineheight: 53px;

    /* Subtitle1 */
    --typography-subtitle1-family: Rubik;
    --typography-subtitle1-weight: 600;
    --typography-subtitle1-size: 36px;
    --typography-subtitle1-lineheight: 44px;

    /* Subtitle2 */
    --typography-subtitle2-family: Rubik;
    --typography-subtitle2-weight: 600;
    --typography-subtitle2-size: 96px;
    --typography-subtitle2-lineheight: 144px;

    /* Body1 */
    --typography-body1-family: Rubik;
    --typography-body1-weight: 300;
    --typography-body1-size: 24px;
    --typography-body1-lineheight: 24px;

    /* Body2 */
    --typography-body2-family: Rubik;
    --typography-body2-weight: 400;
    --typography-body2-size: 40px;
    --typography-body2-lineheight: 70px;

    /* Button */
    --typography-button-family: Rubik;
    --typography-button-weight: 600;
    --typography-button-size: 48px;
    --typography-button-lineheight: 77px;

    /* Blocks */
    --section-min-height: 120px;
    --section-padding: 50px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: var(--typography-default-family);
    font-size: var(--typography-default-size);
    font-weight: var(--typography-default-weight);
    line-height: var(--typography-default-lineheight);
    color: var(--palette-text-default);
    background-color: var(--palette-background);
    overflow-x: hidden;
}

h1 {
    font-family: var(--typography-h1-family);
    font-size: var(--typography-h1-size);
    font-weight: var(--typography-h1-weight);
    line-height: var(--typography-h1-lineheight);
    letter-spacing: 5px;
}

.subtitle {
    font-family: var(--typography-subtitle1-family);
    font-size: var(--typography-subtitle1-size);
    font-weight: var(--typography-subtitle1-weight);
    line-height: var(--typography-subtitle1-lineheight);
    color: var(--palette-primary);
}

.subtitle-2 {
    font-family: var(--typography-subtitle2-family);
    font-weight: var(--typography-subtitle2-weight);
    font-size: var(--typography-subtitle2-size);
    animation: neon 1.5s ease-in-out infinite alternate;
    text-shadow: 0 0 5px var(--palette-text-lighting);
}

@keyframes neon {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(189, 183, 126, 1),
      0 0 35px rgba(189, 183, 126, 1), 0 0 40px rgba(189, 183, 126, 1), 0 0 50px rgba(189, 183, 126, 1), 0 0 75px rgba(189, 183, 126, 1);
  }
  to {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px rgba(189, 183, 126, 1),
      0 0 14.5px rgba(189, 183, 126, 1), 0 0 20px rgba(189, 183, 126, 1), 0 0 25px rgba(189, 183, 126, 1), 0 0 32.5px rgba(189, 183, 126, 1);
  }
}

.subtitle-3 {
    font-family: var(--typography-body2-family);
    font-size: var(--typography-body2-size);
    font-weight: var(--typography-body2-weight);
    line-height: var(--typography-body2-lineheight);
}

.caption {
    font-family: var(--typography-body1-family);
    font-size: var(--typography-body1-size);
    font-weight: var(--typography-body1-weight);
    line-height: var(--typography-body1-lineheight);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    min-height: var(--section-min-height);
    padding: var(--section-padding);
}

.nav-left,
.nav-right {
    flex: 0 1 auto;
}
.nav-fill {
    flex: 1 1 auto;
}

.header {
    padding: 50px 100px;
}

.header__logo img {
    width: 164px;
}

.divider {
    border: 3px solid var(--palette-primary)
}

.main__title__wrapper {
    background-color: var(--palette-primary-opacity);
}

.main__title__wrapper h1 {
    padding-right: 100px;
}

.gradient__wrapper {
    background: var(--palette-gradient-section);
}

.secondary__wrapper {
    background-color: var(--palette-secondary);
}

.advantages__content {
    max-width: 780px;
    padding: 20px 0px;
}

.game__card {
    min-height: 330px;
    width: 19%;
}

.game__card img {
    height: 250px;
    width: 250px;
    border: 5px solid var(--palette-default);
    border-radius: 100%;
    object-fit: cover;
}

.game__card__title {
    font-family: var(--typography-body2-family);
    font-size: var(--typography-body2-size);
    font-weight: var(--typography-body2-weight);
    line-height: var(--typography-body2-lineheight);
}

button {
    font-family: var(--typography-button-family);
    font-size: var(--typography-button-size);
    font-weight: var(--typography-button-weight);
    line-height: var(--typography-button-lineheight);
    background: var(--palette-gradient-button);
    border: 2px solid var(--palette-primary);
    border-radius: 30px;
    color: var(--palette-text-default);
    transition: all .5s ease-in-out;
    position: relative;
    overflow-x: hidden;
}

button:hover {
    background: var(--palette-gradient-button-hover);
}

.main__section {
    margin-bottom: 100px;
}

.main__content__wrapper {
    padding-right: 100px;
}

.main__content__wrapper p {
    max-width: 817px;
}

.circle__main__wrapper {
    bottom: 0;
    right: 0;
    margin-right: -50px;
    margin-bottom: -50px;
}

.main__circle {
    width: 209px;
    height: 209px;
    border-radius: 100%;
    background-color: var(--palette-primary);
    z-index: -3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.child__main__circle {
    width: 169px;
    height: 169px;
    border-radius: 100%;
    border: 10px solid var(--palette-default);
    background-color: var(--palette-background);
}

.circle__main__white__wrapper {
    bottom: 0;
    right: 0;
    margin-right: -20px;
    margin-bottom: 200px;
}

.white__circle {
    right: 0;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: var(--palette-default);
}

.circle__main__red__wrapper {
    bottom: 0;
    right: 0;
    margin-right: -147px;
    margin-bottom: 45px;
}

.red__circle {
    right: 0;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: var(--palette-primary);
}

.main__image__wrapper {
    width: 100%;
    height: 863px;
    background: radial-gradient(68.48% 68.48% at 50% 50%, #C9E8A3 0%, #4D5E37 100%);
    border: 10px solid var(--palette-default);
    overflow: hidden;
    position: relative;
    margin-top: -125px;
}

.main__image__wrapper img {
    width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
}

.advantages__image img {
    border: 15px solid var(--palette-default);
    border-radius: 100%;
    z-index: 5;
}

.line {
    border: 3px solid var()
}

.helper__wrapper {
    margin-bottom: 230px;
}

.aviator-advantages-image-wrapper {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-top: 50px;
    z-index: 2;
}

.back-part-1-image {
    width: 100%;
    height: 100%;
    background-image: url('./../images/back_part_1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.back-part-1-wrapper {
    right: 0;
    top: 0;
    width: 746px;
    height: 1278px;
    margin-right: 0px;
    margin-top: 0px;
}

.back-part-2-image {
    width: 100%;
    height: 100%;
    background-image: url('./../images/back_part_2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.back-part-2-wrapper {
    left: 0;
    top: 0;
    width: 779px;
    height: 972px;
    margin-left: 0px;
    margin-top: 1199px;
}

.advantages-1-image {
    width: 100%;
    height: 100%;
    background-image: url('./../images/advantages_1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    border: 15px solid var(--palette-default);
}

.advantages-1-wrapper {
    right: 0;
    top: 0;
    width: 827px;
    height: 827px;
    margin-right: -50px;
    margin-top: -300px;
    z-index: 2;
}

.advantages-2-image {
    width: 100%;
    height: 100%;
    background-image: url('./../images/advantages_2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    border: 15px solid var(--palette-default);
}

.advantages-2-wrapper {
    right: 0;
    top: 0;
    width: 656px;
    height: 656px;
    margin-right: 215px;
    margin-top: 527px;
    z-index: 2;
}

.advantages-3-image {
    width: 100%;
    height: 100%;
    background-image: url('./../images/advantages_3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    border: 15px solid var(--palette-default);
}

.advantages-3-wrapper {
    left: 0;
    top: 0;
    width: 827px;
    height: 827px;
    margin-left: 97px;
    margin-top: 1003px;
    z-index: 2;
}

.circle__advantages__wrapper {
    bottom: 0;
    right: 0;
    margin-bottom: -40px;
    margin-right: 41px;
}

.advantages__circle {
    width: 209px;
    height: 209px;
    border-radius: 100%;
    background-color: var(--palette-primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: -3;
}

.child__advantages__circle {
    width: 169px;
    height: 169px;
    border-radius: 100%;
    border: 10px solid var(--palette-default);
    background-color: var(--palette-background);
}

.circle__advantages__white__wrapper {
    bottom: 0;
    right: 0;
    margin-right: 70px;
    margin-bottom: -120px;
}

.circle__advantages__red__wrapper {
    bottom: 0;
    right: 0;
    margin-right: -20px;
    margin-bottom: 130px;
}

.advantages__image img {
    object-fit: cover;
}

.content {
    width: 881px;
}

.left {
    padding-left: 100px;
}

.right {
    padding-right: 150px;
}

.flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewx(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

.offer__wrapper img {
    animation: scale 3s infinite linear;
}

@keyframes scale {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

/*
    Media
*/
@media (min-width: 1650px) and (max-width: 1750px){
    .back-part-2-wrapper {
        left: 0;
        top: 0;
        width: 779px;
        height: 972px;
        margin-left: -50px;
        margin-top: 1199px;
    }
}
@media (min-width: 1436px) and (max-width: 1649px){

    .back-part-1-wrapper {
        right: 0;
        top: 0;
        width: 746px;
        height: 1278px;
        margin-right: -200px;
        margin-top: 0px;
    }

    .back-part-2-wrapper {
        left: 0;
        top: 0;
        width: 879px;
        height: 1105px;
        margin-left: -200px;
        margin-top: 1099px;
        transform: scale(0.6);
    }

    .advantages-1-wrapper {
        right: 0;
        top: 0;
        width: 580px;
        height: 580px;
        margin-right: 40px;
        margin-top: -150px;
        z-index: 2;
    }

    .advantages-2-wrapper {
        right: 0;
        top: 0;
        width: 456px;
        height: 456px;
        margin-right: 150px;
        margin-top: 577px;
        z-index: 2;
    }

    .advantages-3-wrapper {
        left: 0;
        top: 0;
        width: 580px;
        height: 580px;
        margin-left: 70px;
        margin-top: 1053px;
        z-index: 2;
    }

    .helper__wrapper {
        margin-bottom: 130px;
    }

    .offer__wrapper img {
        width: 450px;
    }

    .content {
        width: 681px;
    }

    .left {
        padding-left: 80px;
    }

    .right {
        padding-right: 80px;
    }
}

@media (min-width: 1200px) and (max-width: 1435px) {
    .back-part-1-wrapper {
        display: none;
    }

    .back-part-2-wrapper {
        display: none;
    }

    .offer__wrapper img {
        width: 300px;
        height: auto;
    }

    .advantages-1-wrapper {
        right: 0;
        top: 0;
        width: 480px;
        height: 480px;
        margin-right: 0px;
        margin-top: 180px;
        z-index: 2;
    }

    .advantages-2-wrapper {
        right: 0;
        top: 0;
        width: 480px;
        height: 480px;
        margin-right: 0px;
        margin-top: 727px;
        z-index: 2;
    }

    .advantages-3-wrapper {
        left: 0;
        top: 0;
        width: 480px;
        height: 480px;
        margin-left: 0px;
        margin-top: 1330px;
        z-index: 2;
    }

    .helper__wrapper {
        margin-bottom: 0px;
    }

    .content {
        width: 481px;
    }

    .left {
        padding-left: 80px;
    }

    .right {
        padding-right: 80px;
    }

    h1 {
        font-size: calc(var(--typography-h1-size) - 30px);
    }

    .circle__main__wrapper,
    .circle__main__white__wrapper,
    .circle__main__red__wrapper,
    .circle__advantages__wrapper,
    .circle__advantages__white__wrapper,
    .circle__advantages__red__wrapper {
        display: none;
    }

    .main__content__wrapper,
    .main__title__wrapper h1 {
        padding-right: 50px;
    }

    .main__section {
        margin-bottom: 0px;
    }

    .header {
        padding: 50px 50px;
    }

    /* Games */
    .game__card img {
        width: 150px;
        height: 150px;
    }

    .game__card {
        width: 19%;
        min-height: auto;
    }
}

@media (min-width: 1025px) and (max-width: 1199px){

    /* Fonts */
    h1 {
        font-size: calc(var(--typography-h1-size) - 40px);
        line-height: calc(var(--typography-h1-lineheight) - 30px);
    }

    h2 {
        font-size: calc(var(--typography-h2-size) - 10px);
        line-height: calc(var(--typography-h2-lineheight) - 10px);
    }

    .subtitle {
        font-size: calc(var(--typography-subtitle1-size) - 12px);
        line-height: calc(var(--typography-subtitle1-lineheight) - 12px);
    }

    body {
        font-size: calc(var(--typography-default-size) - 6px);
        line-height: calc(var(--typography-default-lineheight) - 4px);
    }

    .subtitle-2 {
        font-size: calc(var(--typography-subtitle2-size) - 20px);
        line-height: calc(var(--typography-subtitle2-lineheight) - 20px);
    }

    .caption {
        font-size: calc(var(--typography-body1-size) - 3px);
        line-height: calc(var(--typography-body1-lineheight) + 4px);
    }

    button {
        font-size: calc(var(--typography-button-size) - 10px);
        line-height: calc(var(--typography-button-lineheight) - 15px);
    }

    .subtitle-3 {
        font-size: calc(var(--typography-body2-size) - 10px);
        line-height: calc(var(--typography-body2-lineheight) - 15px);
    }

    /* Images */
    .header__logo img {
        width: 80px;
        height: 70px;
    }

    .main__image__wrapper {
        height: 600px;
    }

    .offer__wrapper img {
        width: 210px;
        height: auto;
    }

    .advantages__image .first {
        top: 0;
        left: 0;
        width: 450px;
        height: auto;
    }

    .advantages__image .third {
        top: 0px;
        right: 0px;
        width: 450px;
        height: auto;
    }

    /* Games */
    .game__card img {
        width: 150px;
        height: 150px;
    }

    .game__card {
        width: 19%;
        min-height: auto;
    }

    .back-part-1-wrapper {
        display: none;
    }

    .back-part-2-wrapper {
        display: none;
    }

    .offer__wrapper img {
        width: 300px;
        height: auto;
    }

    .advantages-1-image,
    .advantages-2-image,
    .advantages-3-image {
        border: 7px solid var(--palette-default);
    }

    .advantages-1-wrapper {
        right: 0;
        top: 0;
        width: 280px;
        height: 280px;
        margin-right: 100px;
        margin-top: 220px;
        z-index: 2;
    }

    .advantages-2-wrapper {
        right: 0;
        top: 0;
        width: 280px;
        height: 280px;
        margin-right: 100px;
        margin-top: 687px;
        z-index: 2;
    }

    .advantages-3-wrapper {
        left: 0;
        top: 0;
        width: 280px;
        height: 280px;
        margin-left: 100px;
        margin-top: 1220px;
        z-index: 2;
    }

    .helper__wrapper {
        margin-bottom: 0px;
    }

    .content {
        width: 481px;
    }

    .left {
        padding-left: 80px;
    }

    .right {
        padding-right: 80px;
    }

    h1 {
        font-size: calc(var(--typography-h1-size) - 60px);
    }

    .circle__main__wrapper,
    .circle__main__white__wrapper,
    .circle__main__red__wrapper,
    .circle__advantages__wrapper,
    .circle__advantages__white__wrapper,
    .circle__advantages__red__wrapper {
        display: none;
    }

    .main__content__wrapper,
    .main__title__wrapper h1 {
        padding-right: 50px;
    }

    .main__section {
        margin-bottom: 0px;
    }

    .header {
        padding: 50px 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){

    /* Fonts */
    h1 {
        font-size: calc(var(--typography-h1-size) - 110px);
        line-height: calc(var(--typography-h1-lineheight) - 88px);
    }

    h2 {
        font-size: calc(var(--typography-h2-size) - 12px);
        line-height: calc(var(--typography-h2-lineheight) - 17px);
    }

    .subtitle {
        font-size: calc(var(--typography-subtitle1-size) - 16px);
        line-height: calc(var(--typography-subtitle1-lineheight) - 18px);
    }

    body {
        font-size: calc(var(--typography-default-size) - 8px);
        line-height: calc(var(--typography-default-lineheight) - 7px);
    }

    .subtitle-2 {
        font-size: calc(var(--typography-subtitle2-size) - 48px);
        line-height: calc(var(--typography-subtitle2-lineheight) - 72px);
    }

    .caption {
        font-size: calc(var(--typography-body1-size) - 4px);
        line-height: calc(var(--typography-body1-lineheight) + 9px);
    }

    button {
        font-size: calc(var(--typography-button-size) - 20px);
        line-height: calc(var(--typography-button-lineheight) - 35px);
    }

    .subtitle-3 {
        font-size: calc(var(--typography-body2-size) - 20px);
        line-height: calc(var(--typography-body2-lineheight) - 37px);
    }

    /* Images */
    .header__logo img {
        width: 68px;
        height: 61px;
    }

    .main__image__wrapper {
        height: 551px;
    }

    .main__image__wrapper img {
        width: 100%;
        object-fit: cover;
    }

    .advantages__image .first {
        top: 0;
        left: 0;
        width: 450px;
        height: auto;
    }

    .advantages__image .third {
        top: 0px;
        right: 0px;
        width: 450px;
        height: auto;
    }

    .offer__wrapper img {
        width: 194px;
        height: auto;
    }

    /* Games */
    .game__card img {
        width: 130px;
        height: 130px;
    }

    /* Custom */
    .game__card {
        width: 30%;
        min-height: auto;
    }

    .advantages__image img {
        border: 7px solid var(--palette-default);
    }

    .advantages__image .first {
        top: 60px;
        left: 13px;
        width: 100%;
    }

    .back-part-1-wrapper {
        display: none;
    }

    .back-part-2-wrapper {
        display: none;
    }

    .advantages-1-image,
    .advantages-2-image,
    .advantages-3-image {
        border: 7px solid var(--palette-default);
    }

    .advantages-1-wrapper {
        right: 0;
        top: 0;
        width: 280px;
        height: 280px;
        margin-right: 0px;
        margin-top: 280px;
        z-index: 2;
    }

    .advantages-2-wrapper {
        right: 0;
        top: 0;
        width: 263px;
        height: 263px;
        margin-right: 30px;
        margin-top: 700px;
        z-index: 2;
    }

    .advantages-3-wrapper {
        left: 0;
        top: 0;
        width: 280px;
        height: 280px;
        margin-left: 0px;
        margin-top: 1300px;
        z-index: 2;
    }

    .helper__wrapper {
        margin-bottom: 0px;
    }

    .content {
        width: 451px;
    }

    .left {
        padding-left: 20px;
    }

    .right {
        padding-right: 20px;
    }

    .circle__main__wrapper,
    .circle__main__white__wrapper,
    .circle__main__red__wrapper,
    .circle__advantages__wrapper,
    .circle__advantages__white__wrapper,
    .circle__advantages__red__wrapper {
        display: none;
    }

    .main__content__wrapper,
    .main__title__wrapper h1 {
        padding-right: 50px;
    }

    .main__section {
        margin-bottom: 0px;
    }

    .header {
        padding: 50px 50px;
    }
}

@media (min-width: 577px) and (max-width: 767px){

    /* Fonts */
    h1 {
        font-size: calc(var(--typography-h1-size) - 100px);
        line-height: calc(var(--typography-h1-lineheight) - 70px);
    }

    h2 {
        font-size: calc(var(--typography-h2-size) - 10px);
        line-height: calc(var(--typography-h2-lineheight) - 15px);
    }

    .subtitle {
        font-size: calc(var(--typography-subtitle1-size) - 12px);
        line-height: calc(var(--typography-subtitle1-lineheight) - 15px);
    }

    body {
        font-size: calc(var(--typography-default-size) - 6px);
        line-height: calc(var(--typography-default-lineheight) - 5px);
    }

    .subtitle-2 {
        font-size: calc(var(--typography-subtitle2-size) - 30px);
        line-height: calc(var(--typography-subtitle2-lineheight) - 30px);
    }

    .caption {
        font-size: calc(var(--typography-body1-size) - 3px);
        line-height: calc(var(--typography-body1-lineheight) + 5px);
    }

    button {
        font-size: calc(var(--typography-button-size) - 15px);
        line-height: calc(var(--typography-button-lineheight) - 20px);
    }

    .subtitle-3 {
        font-size: calc(var(--typography-body2-size) - 12px);
        line-height: calc(var(--typography-body2-lineheight) - 15px);
    }

    /* Images */
    .header__logo img {
        width: 55px;
        height: 50px;
    }

    .main__image__wrapper img {
        width: 100%;
        object-fit: cover;
    }

    .offer__wrapper img {
        width: 175px;
        height: auto;
    }

    .game__card {
        width: 30%;
        min-height: 200px;
    }

    .game__card img {
        width: 120px;
        height: 120px;
    }

    .advantages__image img {
        border: 7px solid var(--palette-default);
        border-radius: 20px;
        width: 100%;
    }

    /* Custom */
    .secondary__wrapper {
        background-color: transparent;
    }

    .back-part-1-wrapper {
        display: none;
    }

    .back-part-2-wrapper {
        display: none;
    }

    .aviator-advantages-image-wrapper {
        display: none;
    }

    .helper__wrapper {
        margin-bottom: 0px;
    }

    .advantages-1-image {
        border: 5px solid var(--palette-default);
    }

    .advantages-2-image {
        border: 5px solid var(--palette-default);
    }

    .advantages-3-image {
        border: 5px solid var(--palette-default);
    }

    .content {
        width: 100%;
    }

    .left {
        padding-left: 10px;
    }

    .right {
        padding-right: 10px;
    }

    .circle__main__wrapper,
    .circle__main__white__wrapper,
    .circle__main__red__wrapper,
    .circle__advantages__wrapper,
    .circle__advantages__white__wrapper,
    .circle__advantages__red__wrapper {
        display: none;
    }

    .main__content__wrapper,
    .main__title__wrapper h1 {
        padding-right: 0px;
    }

    .main__section {
        padding-top: 30px;
        margin-bottom: 0px;
    }

    .main__title__wrapper {
        width: fit-content;
        padding: 0 10px;
    }

    .header {
        padding: 10px;
    }
}

@media (min-width: 280px) and (max-width: 576px){

    /* Fonts */
    h1 {
        font-size: calc(var(--typography-h1-size) - 158px);
        line-height: calc(var(--typography-h1-lineheight) - 123px);
    }

    h2 {
        font-size: calc(var(--typography-h2-size) - 18px);
        line-height: calc(var(--typography-h2-lineheight) - 32px);
    }

    .subtitle {
        font-size: calc(var(--typography-subtitle1-size) - 18px);
        line-height: calc(var(--typography-subtitle1-lineheight) - 23px);
    }

    body {
        font-size: calc(var(--typography-default-size) - 16px);
        line-height: calc(var(--typography-default-lineheight) - 13px);
    }

    .subtitle-2 {
        font-size: calc(var(--typography-subtitle2-size) - 60px);
        line-height: calc(var(--typography-subtitle2-lineheight) - 90px);
    }

    .subtitle-3 {
        font-size: calc(var(--typography-body2-size) - 16px);
        line-height: calc(var(--typography-body2-lineheight) - 46px);
    }

    .caption {
        font-size: calc(var(--typography-body1-size) - 8px);
        line-height: calc(var(--typography-body1-lineheight) - 0px);
    }

    button {
        font-size: calc(var(--typography-button-size) - 32px);
        line-height: calc(var(--typography-button-lineheight) - 53px);
    }

    /* Images */
    .header__logo img {
        width: 45px;
        height: 45px;
    }

    .offer__wrapper img {
        width: 150px;
        height: auto;
    }

    .advantages__image img {
        border: 7px solid var(--palette-default);
    }

    .advantages__image .first {
        width: 100%;
        height: 209px;
    }

    .advantages__image .second {
        width: 100%;
        height: 209px;
    }

    .advantages__image .third {
        width: 100%;
        height: 209px;
    }

    .game__card img {
        width: 130px;
        height: 130px;
    }

    /* Games */
    .game__card {
        min-height: 45%;
        width: 130px;
    }

    /* Custom */
    .advantages__image img {
        width: 100%;
        border-radius: 20px;
    }

    .secondary__wrapper {
        background-color: transparent;
    }

    .back-part-1-wrapper {
        display: none;
    }

    .back-part-2-wrapper {
        display: none;
    }

    .advantages-1-wrapper {
        display: none;
    }

    .advantages-2-wrapper {
        display: none;
    }

    .advantages-3-wrapper {
        display: none;
    }

    .helper__wrapper {
        margin-bottom: 0px;
    }

    .content {
        width: 100%;
    }

    .left,
    .right {
        padding: 0px 10px;
    }

    .circle__main__wrapper,
    .circle__main__white__wrapper,
    .circle__main__red__wrapper,
    .circle__advantages__wrapper,
    .circle__advantages__white__wrapper,
    .circle__advantages__red__wrapper {
        display: none;
    }

    .main__content__wrapper,
    .main__title__wrapper h1 {
        padding-right: 0px;
    }

    .main__section {
        padding-top: 30px;
        margin-bottom: 0px;
    }

    .main__title__wrapper {
        width: fit-content;
        padding: 0 10px;
    }

    .header {
        padding: 10px;
    }
}